*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #202123;
}

header{
    width: 100%;
    padding: 25px 100px;
}


nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
}

ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 34px;
    color: white;
    list-style: none;
}

nav button{
    padding: 11px 34px;
    color: white;
    border: none;
    border-radius: 6px;
    background-color: #10A37F;
}

.icon{
    color: white;

    display: none;
}

@media(max-width:768px){
    ul{
        display: none;
    }
    nav button{
        display: none;
    }
    .icon{
        display: block;
    }
   
}