.sec4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 204px 120px;
}
.sec4 div{
    display: flex;
    justify-content: space-between;
    padding: 36px;
    align-items: center;
}
.sec4 div h1{
    display: flex;
    align-items: center;
    justify-content: centergir;
}
.d1{
    background-color: #29282F;   
    margin-top: 3px;

}
.d2{
    background-color: #29282F;
    margin-top: 3px;
}
.d3{
    background-color: #29282F;
    margin-top: 3px;
}
.d4{
    margin-top: 3px;
    background-color: #29282F;
}
.d5{
    margin-top: 3px;
    background-color: #29282F;
}